<!-- <app-splash-screen></app-splash-screen> -->
<p id="version">{{ version }}</p>

<div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>

<nav mat-tab-nav-bar backgroundColor="primary">
    <a
        mat-tab-link 
        *ngFor="let link of links"
        [routerLink]="link.path"
        (click)="activeLink = link.path"
        [active]="activeLink == link.path">
        <mat-icon class="example-tab-icon">{{link.icon}}</mat-icon>
        {{link.label}}
    </a>
</nav>