@import '../../../styles.scss';

nz-input-number, nz-select {
    width: 100%;
}

#tela {
    padding-top: 120px;
}

#conteudo, #titulo, #limite, #lista-gastos {
    margin: auto;
}

#titulo, #limite, #lista-gastos {
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.2px;
}

#titulo {
    margin-top: 44px;
    font-size: 18px;
    color: $primary;
}

#limite {
    margin-top: 34px;
    font-size: 24px;
    color: $sisisi;
}

#lista-gastos {
    margin-top: 13px;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    color: $danger;

    li {
        line-height: 1.4;
    }

    li:nth-child(1) {
        font-size: 14px;
        opacity: 1;
    }

    li:nth-child(2) {
        font-size: 12px;
        opacity: 0.8;
    }

    li:nth-child(3) {
        font-size: 10px;
        opacity: 0.5;
    }

    li:nth-child(4) {
        font-size: 10px;
        opacity: 0.3;
    }

}

#valor {
    margin-top: 28px;
    margin-bottom: 10px;
}

#conteudo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: $nonono;
    box-sizing: border-box;
    border: 5px solid $primary;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#adicionar {
    margin-top: 20px;
}