$app-primary: (
    50 : #e9eef7,
    100 : #c9d4eb,
    200 : #a5b7dd,
    300 : #819acf,
    400 : #6685c5,
    500 : #4b6fdd,
    600 : #4467b5,
    700 : #3b5cac,
    800 : #3352a4,
    900 : #234096,
    A100 : #d4ddff,
    A200 : #a1b6ff,
    A400 : #6e8fff,
    A700 : #547bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$app-secondary: (
    50 : #e0f8ff,
    100 : #b3edff,
    200 : #80e1ff,
    300 : #4dd4ff,
    400 : #26cbff,
    500 : #00c2ff,
    600 : #00bcff,
    700 : #00b4ff,
    800 : #00acff,
    900 : #009fff,
    A100 : #ffffff,
    A200 : #f2faff,
    A400 : #bfe4ff,
    A700 : #a6d9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-accent: (
    50 : #eaf8fc,
    100 : #caeff7,
    200 : #a7e4f1,
    300 : #84d9eb,
    400 : #69d0e7,
    500 : #4fc8e3,
    600 : #48c2e0,
    700 : #3fbbdc,
    800 : #36b4d8,
    900 : #26a7d0,
    A100 : #ffffff,
    A200 : #daf5ff,
    A400 : #a7e8ff,
    A700 : #8de2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-warning: (
    50 : #fce9e2,
    100 : #f8c8b6,
    200 : #f4a486,
    300 : #ef7f56,
    400 : #eb6331,
    500 : #e8480d,
    600 : #e5410b,
    700 : #e23809,
    800 : #de3007,
    900 : #d82103,
    A100 : #ffffff,
    A200 : #ffd2cd,
    A400 : #ffa39a,
    A700 : #ff8c80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);