@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@include default.all;
@include variable.all;

html { font-family: "Inter", "system-ui" !important; }

@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui" !important; }
}

@import "~ng-zorro-antd/ng-zorro-antd.min.css";

$neutral88: #E0E0E0;
$primary: #4B6FDD;

p, span, div, h1, h2, input {
    font-family: "Inter var", "system-ui" !important;  
}

.ant-select-arrow {
    margin-top: unset !important;
}

.ant-input-number-input, .ant-select {
    height: 56px !important;
}

.ant-select-item {
    line-height: 40px !important;
}

.ant-select-selection-item, .ant-select-item {
    font-size: 16px;
}

.ant-select-selection-item {
    line-height: 56px !important;
}

.ant-select-dropdown {
    box-shadow: 7px 7px 8px -4px rgb(0 0 0 / 16%) !important;
    border-radius: 0px 0px 4px 4px !important;
}

.ant-input-number, .ant-select-selector {
    height: 56px !important;
    background-color: #F6F6F6 !important;
    border-radius: 8px !important;
    border: unset !important;
}

.ant-select-arrow {
    top: 43% !important;
}

.ant-input-number-focused, .ant-select-focused .ant-select-selector {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
    border-radius: 8px 8px 0px 0px !important;
    border-bottom: solid 2px $primary !important;
}

.ant-input-number-handler-wrap {
    display: none;
}

.ant-btn {
    height: 44px !important;
    border-radius: 8px !important;
}

.ant-btn-primary {
    background-color: $primary !important;
    color: white !important;
}

.ant-btn[disabled] {
    font-size: 14px !important;
    font-weight: 700;
    color: white !important;
    background-color: $neutral88 !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.splash-screen {
    width: 100vh;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

