

@use "~inter-ui/default" with (
    $inter-font-display: swap,
    $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
    $inter-font-display: swap,
    $inter-font-path: '~inter-ui/Inter (web)'
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import './palette.color.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$diario-primary: mat.define-palette($app-primary);
$diario-accent: mat.define-palette($app-accent);
$diario-warn: mat.define-palette($app-warning);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$diario-theme: mat.define-light-theme((
  color: (
    primary: $diario-primary,
    accent: $diario-accent,
    warn: $diario-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($diario-theme);

@include default.all;
@include variable.all;

html { font-family: "Inter", "system-ui" !important; }

@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui" !important; }
}

@import "~ng-zorro-antd/ng-zorro-antd.min.css";

$neutral88: #E0E0E0;
$primary: #4B6FDD;
$primary-darker: #2142AB;
$sisisi: #000000;
$nonono: white;
$danger: #D83131;

#tela {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100vh;
    max-height: 88.5vh;
    min-height: 88.5vh;
    padding-left: 44px;
    padding-right: 44px;
    background-color: $nonono;
}

p, span, div, h1, h2, input {
    font-family: "Inter var", "system-ui" !important;  
}

.ant-select-arrow {
    margin-top: unset !important;
}

.ant-input-number-input, .ant-select {
    height: 56px !important;
}

.ant-select-item {
    line-height: 40px !important;
}

.ant-select-selection-item, .ant-select-item {
    font-size: 16px;
}

.ant-select-selection-item {
    line-height: 56px !important;
}

.ant-select-dropdown {
    box-shadow: 7px 7px 8px -4px rgb(0 0 0 / 16%) !important;
    border-radius: 0px 0px 4px 4px !important;
}

.ant-input-number, .ant-select-selector {
    width: 100% !important;
    height: 56px !important;
    background-color: #F6F6F6 !important;
    border-radius: 8px !important;
    border: unset !important;
}

.ant-select-arrow {
    top: 43% !important;
}

.ant-input-number-focused, .ant-select-focused .ant-select-selector {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
    border-radius: 8px 8px 0px 0px !important;
    border-bottom: solid 2px $primary !important;
}

.ant-input-number-handler-wrap {
    display: none;
}

.ant-btn {
    height: 44px !important;
    border-radius: 8px !important;
}

.ant-btn-primary {
    background-color: $primary !important;
    color: white !important;
}

.ant-btn[disabled] {
    font-size: 14px !important;
    font-weight: 700;
    color: white !important;
    background-color: $neutral88 !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.splash-screen {
    width: 100vh;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.ant-timeline-item-content {
    left: calc(50% - 4px) !important;
    width: calc(100% - 14px) !important;
}

.ant-timeline-item-tail, .ant-timeline-item-head {
    left: 50% !important;
}

.ant-timeline-item-label {
    font-weight: bold;
    width: calc(50% - 12px) !important;
}

.ant-timeline-item-pending {
    .ant-timeline-item-head {
        display: none !important;
    }    
}

.ant-timeline-item-head-blue {
    color: $primary !important;
    border-color: $primary !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ant-progress-bg {
    max-height: 2px;
}